.block {
    /* display: grid; */
    /*  */
    /* grid-template-columns: 400px 200px 400px; */
    /*  */
    /* grid-template-columns: 2fr 1fr 1fr; */
    /*  */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-columns: 100px repeat(2,1fr) 100px; */
    /* grid-template-rows: 200px 200px; */
    /*     
    grid-template-rows: minmax(200px,auto);
     */

}

/* .box {
    padding: 12px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */

.block div {
    padding: 12px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}